extends base.pug

block scripts 
    script(src="/static/index.js") 


block style     
    style 
        include ../static/style.css
        include ../static/style_contact.css
block content 
    h2 Contact Us
    form(action="/contact", method="post") 
        input(type="text", name="name" class="myinput" placeholder="Enter Your Name" required) 
        input(type="text", name="gender" class="myinput" placeholder="Enter Your Gender" required) 
        input(type="email", name="email" class="myinput" placeholder="Enter Your E-Mail" required)
        input(type="number", name="mobileno" class="myinput" placeholder="Enter Your Mobile No." required)
        input(type="text", name="address" class="myinput" placeholder="Enter Your Full Address" required)
        input(type="text", name="medical" class="myinput" placeholder="Any Medical Issues (if any)")
        button(type="submit" class="btn" method="post")
         |Submit 